* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 80%;
  margin: 5% auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* HEADER */
header {
  background-color: #ff6801;
}

header .header-wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.header-wrapper nav ul {
  list-style-type: none;
}

.header-wrapper nav li {
  color: #fff;
  display: inline-block;
  font-size: bold;
  margin: 0 5px;
}

.main-logo {
  width: 35%;
  height: auto;
  text-align: center;
}

.icons {
  color: #fff;
}

.icons .fa-solid {
  margin: 0 5px;
}

/* PRODUCTS */
article {
  flex-basis: calc(100% / 3 - 10px);
  margin: 0 5px 40px;
}

article .image-box {
  width: inherit;
  height: 500px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.product-1 {
  background: url(../img/1.webp) no-repeat no-repeat;
}
.product-1:hover {
  background: url(../img/1b.webp) no-repeat no-repeat;
  background-size: cover;
}

.product-2 {
  background: url(../img/2.webp) no-repeat no-repeat;
}
.product-2:hover {
  background: url(../img/2b.webp) no-repeat no-repeat;
  background-size: cover;
}

.product-3 {
  background: url(../img/3.webp) no-repeat no-repeat;
}
.product-3:hover {
  background: url(../img/3b.webp) no-repeat no-repeat;
  background-size: cover;
}

.product-4 {
  background: url(../img/4.webp) no-repeat no-repeat;
}
.product-4:hover {
  background: url(../img/4b.webp) no-repeat no-repeat;
  background-size: cover;
}
.product-5 {
  background: url(../img/5.webp) no-repeat no-repeat;
}
.product-5:hover {
  background: url(../img/5b.webp) no-repeat no-repeat;
  background-size: cover;
}

.product-6 {
  background: url(../img/6.webp) no-repeat no-repeat;
}
.product-6:hover {
  background: url(../img/6b.webp) no-repeat no-repeat;
  background-size: cover;
}

.brand-name,
.discounted-price,
.old-price {
  font-size: 0.8rem;
}

.brand-name,
.old-price {
  color: #878787;
}

article .product-name {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9rem;
}

article .discounted-price {
  color: red;
}

article .old-price {
  text-decoration: line-through;
}

article .discounted-badge {
  display: block;
  background-color: red;
  padding: 3px 5px;
  color: #fff;
  font-weight: bold;
  position: absolute;
  bottom: 5%;
  left: 0;
}

article .sustainability-badge {
  background-color: #007e00;
  padding: 3px 5px;
  color: #fff;
  font-weight: bold;
  position: absolute;
  bottom: 5%;
  left: 16%;
}
article .favourite-badge {
  background-color: #fff;
  padding: 7px 10px;
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  top: 2%;
  right: 0;
}

article .favourite-badge:hover {
  background-color: #fff;
  color: red;
  padding: 7px 10px;
  font-weight: bold;
  position: absolute;
  top: 2%;
  right: 0;
}

/* FOOTER */
footer {
  background-color: black;
  height: 100px;
}

footer h1 {
  font-size: 0.9rem;
}

footer p {
  font-size: 0.8rem;
  font-weight: bold;
}

.footer-wrapper {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-side {
  flex-basis: 50%;
}

.footer-wrapper ul {
  list-style-type: none;
}

.footer-wrapper li {
  display: inline-block;
  margin-right: 5px;
  font-size: 0.8rem;
}

footer .social-links {
  margin-top: 5px;
  text-align: center;
}
